// Place all the styles related to the calculation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.gameCount{
  margin-top: 5px;
  margin-bottom: 0;
  padding:5px;
  font-size: 16px;
}

.mark ul{ 
  margin: 2px;
}

.mark li{
  padding: 0;
  margin: 0;
  list-style: none;
}

.form_content{
  border: 3px solid #3a864c;
}

.rate {
  float:right;
  margin-top: 5px;
  margin-right: 3px;
  font-size: 16px;
  line-height: 1.8em;
}

.settingTitle{
  margin-left: 7px;
  font-size: 17px;
}

.form_scores{
  margin-left: 5px;
  font-size: 20px;
}

#number_1,#number_2,#number_3,#number_4,#number_5,#number_6,#number_7,#number_8,#number_9,#number_10,#number_11,#number_12{
  width:85px;
}

.number_field small{
  font-size: 13px;
  font-style: italic;
}

.result_btn{
  margin:5px;
  padding:5px;
  font-size: 18px;
}

.result_button{
  margin:10px;
  text-align: center;
}

.result{
  text-align: center;
  border: 5px solid #132413;
  background-color: rgb(32, 66, 43);
}

.result h3{
  color:snow;
}

.result p{
  color:rgb(252, 251, 250);
  margin-top:0;
  font-size: 30px;
}

.cal_formula h4{
  margin-bottom: 3px;
  border-bottom: 1px solid #132413;
}