.note-top{
  margin-top: 0;
  padding:15px 0;
  background-color: rgb(248, 232, 10);
}

.note{
  background-color: white;
  color: #413e3e;
  margin: 2em 0;
  margin-top: 0;
  border: solid 1px #e6e6e6;
  padding: 0.3em 1em 2em 1em;
  box-shadow:2px 2px 0 rgba(0,0,0,.1);
}

.head-name {
  color: #646464;
  display: block;
  float: right;
}

.head-name a{
  color: #646464;
  font-weight: bold;
}

.line{
  font-size: 15px;
  background-color: #fff;
  background-image:
  linear-gradient(90deg, rgba(237, 119, 128, 0) 0%, rgba(237, 119, 128, 0) 50%, #fff 0%, #fff 100%), linear-gradient(180deg, rgba(100, 100, 100, 0) 0%, rgba(100, 100, 100, 0) 97.5%, #646464 100%);
  background-size: 8px 100%,100% 1.8em;
  line-height: 1.8em;
  padding: 1.8em 1em 0.2em 1em;
}

.date{
  font-size: 18px;
  color: black;
}

.settings{
  font-size: 14px;
}

.total{
  font-size: 17px;
}

.total-point{
  display: inline-block;
  color: black;
  font-weight: bold;
}

.line li {
  list-style-type: none;
}

.line li::before{
  position: relative;
  margin-right: 8px;
  top: -3px;
  left: 5px;
  display: inline-block;
  width: 4px;
  height: 4px;
  content: '';
  border-radius: 100%;
  background: #1a1919;
}